services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: ./web/Dockerfile.web
    restart: always

  admin:
    container_name: admin
    build:
      context: .
      dockerfile: ./admin/Dockerfile.admin
    restart: always

networks:
  frontend:
    external: true
    name: syncturtle-frontend
